# Strings
- Formated strings
- strip
- split
- replace
- count

In [1]:
name="Rounak"
age=19
year=2

In [2]:
print("I am "+name+". I am "+ str(age)+" years old. I am in "+ str(year)+" year")

I am Rounak. I am 19 years old. I am in 2 year

In [3]:
print("I am %s. I am %d years old. I am in %d year"%(name,age,year))

I am Rounak. I am 19 years old. I am in 2 year

In [4]:
print("I am {}. I am {} years old. I am in {} year".format(name,age,year))

I am Rounak. I am 19 years old. I am in 2 year

## f-string or formated string

In [5]:
print(f"I am {name}. I am {age} years old. I am in {year} year")

I am Rounak. I am 19 years old. I am in 2 year

## strip

In [6]:
st="   Good Morning    "

In [7]:
st

'   Good Morning    '

In [8]:
st.rstrip()

'   Good Morning'

In [9]:
st.lstrip()

'Good Morning    '

In [10]:
st.strip()

'Good Morning'

In [11]:
response=input("Enter yes or no")

Enter yes or no yes

In [12]:
response=="yes"

False

In [13]:
response.strip()=="yes"

True

## split

In [14]:
st="My name is Rounak"

In [16]:
st.split()

['My', 'name', 'is', 'Rounak']

## replace

In [17]:
st.replace("Rounak","Rishika")

'My name is Rishika'

In [19]:
st1="aaaaazzzzz"

In [21]:
st1.replace("a","b")

'bbbbbzzzzz'

## count

In [22]:
st1.count('a')

5

In [23]:
st1.count("z")

5

# Lists

In [24]:
a=[1,2,3,4]

In [25]:
a

[1, 2, 3, 4]

In [26]:
a[1]

2

In [27]:
a=["Rounak", 1,2.3,print] #can be heterogeneous but homogeneous is recomanded

In [28]:
a

['Rounak', 1, 2.3, <function print>]

In [29]:
a[3]("Neogy")

Neogy

In [30]:
a=[1,2,3,4]

In [32]:
len(a)

4

In [33]:
a+a

[1, 2, 3, 4, 1, 2, 3, 4]

In [34]:
a*5

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [35]:
a

[1, 2, 3, 4]

In [36]:
1 in a   #check if present

True

In [37]:
for i in a:
    print(i)

1
2
3
4

### Backward indexing

In [39]:
a=[5,4,6,7]

In [40]:
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])

7
6
4
5

In [41]:
a="Rounak"

In [43]:
a[-1]

'k'

In [44]:
a=[1,2,3,4,5]

In [45]:
a[1:4] # sublist

[2, 3, 4]

In [46]:
a[0:5:2] # the last element determines the jump

[1, 3, 5]

In [47]:
a[::-1] # the most elegant way to reverse a list

[5, 4, 3, 2, 1]

In [48]:
a="rounak"

In [49]:
a[::-1]

'kanuor'

- insert
- append

In [50]:
a=[1,2,3,4]

In [52]:
a.insert(1,"rounak")  #first parameter is the index and the last is the value

In [53]:
a

[1, 'rounak', 2, 3, 4]

In [54]:
a.append("neogy")

In [55]:
a

[1, 'rounak', 2, 3, 4, 'neogy']

- del
- pop
- remove

In [56]:
a.pop()

'neogy'

In [57]:
a.pop(1)   # pop function also takes the index

'rounak'

In [58]:
a.remove(3)  # it take the value of the element to be removed

In [59]:
a

[1, 2, 4]

In [60]:
a=["rounak","neogy","rishika"]

In [61]:
del a[1]

In [62]:
a

['rounak', 'rishika']

In [63]:
del a   # deletes the entire list

In [64]:
a

NameError: name 'a' is not defined

- sorting
- reverse

In [65]:
a=[1,5,2,7,3,8]
sorted(a) #returns the sorted list

[1, 2, 3, 5, 7, 8]

In [66]:
a

[1, 5, 2, 7, 3, 8]

In [67]:
a.sort() #inplace sort

In [68]:
a

[1, 2, 3, 5, 7, 8]

In [69]:
reversed(a) #return iterator

In [70]:
for i in reversed(a):
    print(i)

8
7
5
3
2
1

In [71]:
a

[1, 2, 3, 5, 7, 8]

In [72]:
a.reverse() #inplace reverse

In [73]:
a

[8, 7, 5, 3, 2, 1]

## Tuples

In [1]:
a=(1,2,3,4)

In [2]:
a[1]

2

In [3]:
a[1]=4    # immutable

TypeError: 'tuple' object does not support item assignment

In [7]:
def func(*args):     #args are stored in a tuple because we dont need the change the value once it is passed
    print(args)

In [8]:
func(1,2,3,4)

(1, 2, 3, 4)

In [10]:
a=1,2,3

In [11]:
type(a)

tuple

In [12]:
b,c,d=a  #breaks the tuple and assign the values but the number of values in the tuple should be equal to the number of itdentigier in the left hand side

In [13]:
print(b,c,d)

1 2 3

In [4]:
#reverse a number using tuples
a=10
b=15

In [5]:
b,a=a,b    #tuple

In [6]:
print(a,b)

15 10

In [9]:
#another method using XOR
a=10
b=15
a=a^b
b=a^b
a=a^b
print(a)
print(b)

15
10

### tuple to list and vice-versa

In [14]:
a=(1,2,3,4)

In [15]:
a=list(a)

In [16]:
type(a)

list

In [17]:
a

[1, 2, 3, 4]

In [18]:
s="Rounak"

In [19]:
s=list(s)

In [20]:
s

['R', 'o', 'u', 'n', 'a', 'k']

In [21]:
a=tuple(a)

In [22]:
a

(1, 2, 3, 4)

### returing multiple values using tuples

In [23]:
def add_subtract(a,b):
    return a+b,a-b

In [25]:
sum,diff=add_subtract(6,5)

In [26]:
print(sum,diff)

11 1

# Dictionaries

In [28]:
a={
    "name":"Rounak",                   #keys are any immutable objects
    "marks":95,
    "subjects":["maths","CS"],
    "friends":{
        "name": "Rishika"
    }
}

In [29]:
a["name"]

'Rounak'

In [30]:
a["marks"]

95

In [31]:
a["subjects"]

['maths', 'CS']

In [32]:
a["friends"]

{'name': 'Rishika'}

In [33]:
#by default iterating over a dictionary returns me all the keys
for key in a:
    print(key)

name
marks
subjects
friends

### some important dict methods
- get()
- items()
- keys()
- values()
- clear()

In [36]:
for key,values in a.items():   #creates the tuple of ke and value
    print(key,"=>",values)

name => Rounak
marks => 95
subjects => ['maths', 'CS']
friends => {'name': 'Rishika'}

In [37]:
for key in a.keys():
    print(key)

name
marks
subjects
friends

In [38]:
for value in a.values():
    print(value)

Rounak
95
['maths', 'CS']
{'name': 'Rishika'}

In [39]:
a["name"]

'Rounak'

In [40]:
a.get("name")

'Rounak'

In [41]:
#but
a["name1"]

KeyError: 'name1'

In [42]:
a.get("name1")  # get is a safe method which does not throw traceback

In [43]:
a.clear()

In [44]:
a

{}

In [45]:
student=[]

In [46]:
n=int(input())

2

In [47]:
for i in range(n):
    name=input()
    roll_no=int(input())
    branch=input()
    student.append({
        "name": name,
        "roll_no": roll_no,
        "branch": branch,
    })

rounak
29
cs
rishika
22
cs

In [48]:
student

[{'name': 'rounak', 'roll_no': 29, 'branch': 'cs'},
 {'name': 'rishika', 'roll_no': 22, 'branch': 'cs'}]

### in python the keys are immutable datastructure

In [50]:
#tuple can be a key
a={
    (1,2): "rounak"
}

In [51]:
a[(1,2)]

'rounak'

In [1]:
#but 
a={
    [1,2]: "rounak"
}

TypeError: unhashable type: 'list'

# sets
unordered data structure

In [2]:
a=set()   #to create a empty set

In [3]:
a

set()

In [4]:
a={1,2,3,4}

In [5]:
type(a)

set

In [6]:
b={3,4,5,6}

In [7]:
a.intersection(b)

{3, 4}

In [8]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [9]:
a-b

{1, 2}

In [10]:
b-a

{5, 6}

In [11]:
a[1]   #error

TypeError: 'set' object is not subscriptable

In [12]:
for i in a:
    print(i)

1
2
3
4

In [13]:
#set only contains unique elements
a={1,2,3,4,1,2,3,4}

In [14]:
a

{1, 2, 3, 4}

In [15]:
#remove duplicate elements form a list

In [16]:
a=[1,2,1,2,1,2,1,2,1,2]

In [18]:
a=list(set(a))   #but the order will not be retained

In [19]:
a

[1, 2]

In [20]:
b={1,2,7,6,5,3,4,7,8}   #arrange in sorted order

In [21]:
b

{1, 2, 3, 4, 5, 6, 7, 8}

# comprehension
used to make lists,dicts,sets in a single line

In [22]:
a=[]
for i in range(10):
    a.append(i**2)

In [23]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### list comprehension

In [24]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
[i**2 for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

### dict compresenion

In [26]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [27]:
{i:i**2 for i in range(10) if i%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

### set comprehension

In [28]:
{i**2 for i in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [29]:
{i**2 for i in range(10) if i%2==0}

{0, 4, 16, 36, 64}

In [30]:
#tuple comprehension is not possible

In [31]:
a=(i**2 for i in range(10))

In [32]:
a